.root{
    -fx-background-color: linear-gradient(to right, #439775, #CEF7A0);
}
.label{
    -fx-text-fill: white
}
#signupStatus{
    -fx-text-fill: red;
    -fx-alignment: center
}

#createAccountButton{
    -fx-text-fill: white;
    -fx-background-color: #4056F4
}
#createAccountButton:hover{
    -fx-background-color: #0197F6
}