.root{
    -fx-background-color: linear-gradient(to right, #5465FF, #9BB1FF);
}
.label{
    -fx-text-fill: white
}
.text-field{
    -fx-background-color: white
}

#loginButton, #signUpButton{
-fx-background-color: #4B7F52;
-fx-text-fill: white
}
#loginButton:hover, #signUpButton:hover{
-fx-background-color: #8CD867;

}
#loginStatus{
    -fx-text-fill: red;
    -fx-alignment: center
}
