.root{
    -fx-background-color: linear-gradient(to right, #5465FF, #9BB1FF);
}
.label{
    -fx-text-fill: white
}
.text-field{
    -fx-background-color: white
}

#loginButton{
-fx-background-color: red
}
#loginStatus{
    -fx-text-fill: red;
    -fx-alignment: center
}
#signUpButton{
    -fx-background-color: yellow
}